body::after {
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: url('https://i.pinimg.com/736x/35/d1/39/35d1399b13f8a7c8fba05121868b601f.jpg');
  background-size: cover;
}

@media (min-width: 750px){
  body::after {
    background: url('https://images3.alphacoders.com/134/1347516.png');
    background-size: cover;
  }
}
/* app */
.main {
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

/* header */
.header {
  text-align: center;
  text-decoration: none;
  padding:  1rem;
  background-color: rgba(0,0,0,0.2);
  margin-bottom: 20px;
}

.header h1 {
  font-size: 25px;
}

.header a {
  text-decoration: none;
}

/* char list */

.char-list {
  margin-block: 25px;
  display: flex;
  flex-direction: column;;
  gap: 20px;
}

.char-list-item {
  padding: 1rem;
  border: white;
  background-color: rgba(0,0,0,0.8);
  border-radius: 14px;
  border: 2px solid #f5f5f5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
}
.char-list-item h3 {
  grid-column: 1/ span 2;
}


.char-list-item:hover {
  border-color: rgb(111, 40, 152);
  cursor: pointer;
}


input , button, select {
   background-color: #656464;
}

/* Filter */
.filters {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter-search {
  width: 100%;
  flex: 1;
  order: 2;
}

.filter-sort, .filter-status {
  width: 40%;
  display: inline-block;
  order: 1;
}

.filter-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.filter-wrapper:last-of-type {
  justify-content: flex-end;
}

.filter-wrapper input,
.filter-wrapper select {
  padding: 5px;
  border-radius: 5px;
  outline: none;
}

.filter-wrapper input::placeholder {
  color: rgba(255,255,255, 0.5);
}


/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pagination button {
  padding: 5px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-size: 20px;
  border: none;
  border: 1px solid black;
}

.pagination span {
  align-self: center;
  background-color: #656464;
  padding: 5px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 4px;
}

.pagination .prev,
.pagination .next {
  width: 35px;
  height: 35px;
  display: flex;
}
.pagination .prev svg {
  width: 100%;
  height: 100%;
  rotate: 180deg;
}

.pagination .next svg {
  width: 100%;
  height: 100%;
}

/* load more button */
.load-more-button {
  display: flex;
  margin: 0 auto;
  transform: translateY(-10px);
  cursor: pointer;
  border-radius: 4px;
}
.load-more-button-svg {
  width: 50px;
  height: 25px;
}

.load-more-button.spinner {
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  margin-bottom: 40px;
}

.load-more-button-svg svg {
  width: 100%;
  height: 100%;
}

/* spinner */

.spinner {
  width: 50px;
  height: 50px;
  margin:  0 auto;
  display: block;
  margin-top: 20px;
}

.spinner svg {
  width: 100%;
  height: 100%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

/* footer */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: #121212;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer button {
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 4px;
}